<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>女法师/场景待机/8/20003.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/8/20006.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/8/20009.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/8/20012.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>486</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/8/20015.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>648</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/8/20018.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>810</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/8/20021.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/8/20024.png</key>
			<dict>
				<key>width</key>
				<integer>160</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>160</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/7/30003.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>324</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/7/30006.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>425</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/7/30009.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>526</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/7/30012.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>627</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/7/30015.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>728</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/7/30018.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>829</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/7/30021.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/7/30024.png</key>
			<dict>
				<key>width</key>
				<integer>99</integer>
				<key>height</key>
				<integer>175</integer>
				<key>originalWidth</key>
				<integer>99</integer>
				<key>originalHeight</key>
				<integer>175</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/6/40003.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/6/40006.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>309</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/6/40009.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>416</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/6/40012.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>523</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/6/40015.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>630</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/6/40018.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>737</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/6/40021.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>844</integer>
				<key>y</key>
				<integer>344</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/6/40024.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>521</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/5/50003.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>521</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/5/50006.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>253</integer>
				<key>y</key>
				<integer>521</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/5/50009.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>521</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/5/50012.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>545</integer>
				<key>y</key>
				<integer>521</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/5/50015.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>691</integer>
				<key>y</key>
				<integer>521</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/5/50018.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>837</integer>
				<key>y</key>
				<integer>521</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/5/50021.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>697</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/5/50024.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>165</integer>
				<key>x</key>
				<integer>146</integer>
				<key>y</key>
				<integer>697</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/4/40003.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>292</integer>
				<key>y</key>
				<integer>697</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/4/40006.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>697</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/4/40009.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>506</integer>
				<key>y</key>
				<integer>697</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/4/40012.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>613</integer>
				<key>y</key>
				<integer>697</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/4/40015.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>720</integer>
				<key>y</key>
				<integer>697</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>女法师/场景待机/4/40018.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>827</integer>
				<key>y</key>
				<integer>697</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shadow.png</key>
			<dict>
				<key>width</key>
				<integer>120</integer>
				<key>height</key>
				<integer>69</integer>
				<key>originalWidth</key>
				<integer>120</integer>
				<key>originalHeight</key>
				<integer>69</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>873</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>fs_female0.png</string>
			<key>realTextureFileName</key>
			<string>fs_female0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>